* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;font-family:sans-serif, serif;
}

header {
    height: 12vh;
}

body {
    /* background-image: url('netflix_bakground.png'); */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('netflix_bakground.png');
}

header>ul {
    display: flex;
    align-items: center;
    list-style: none;
    /* border: 2px red solid; */
    height: 100%;
    justify-content: end;
    padding: 3% 3%;
}

li {
    margin: 0 2%;
    display: flex;
    align-items: center;
    height: 100%;
    /* border: 2px black solid; */
    padding: 2%;font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    font-family: serif;
    text-align: center;
    color: white;
}

.container>div {
    margin: auto;
}

#logo {
    margin-right: auto;
}

.container>div>h1 {
    font-size: 3em;
    font-family: "Lato", Arial, sans-serif;
    text-align: center;
}

input[type=email] {
    width: 33vw;
    height: 8vh;
    padding: 2% 5%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0%;
    font-size:large;
}

.container>div>button {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 5%;
    margin: 8px 0;
    border: none;
    border-radius: 0%;
    cursor: pointer;
}

.email-form-lockup>ul{
    display: flex; justify-content: center;align-items: center;
}
.email-form-lockup>ul>li{
    margin: 0;padding: 0;
}
li>img {
    z-index: 0;
}
select
{
width:100px;
height: 35px;
font-size: 15px;
background: transparent;color: white;border: 1px white solid; border-radius: 3%;
}
option{background-color: lightgray;}
#login>button{
    background-color: #E50914;color:white;
    width:7vw;padding: 2%;
    height: 35px;
    font-size: 16px;border: none; border-radius: 8%;
    font-family:sans-serif, serif;
}
#getStarted{
    background-color: #E50914;color:white;
    border: none; border-radius: 0%;
    height: 8vh;width:16vw;
    font-size:x-large;
}
.fa{
    content: '\f0ac' !important;
    font-family: FontAwesome !important;
}